<html>

<head>
</head>

<body>
    <form action="/login" method="get">
        <h2 style="text-align:center">Cette Utilisateur n'est pas Connecté</h2>
        <button>Login</button>
    </form>

</body>

</html>