<html>

<head>
</head>

<body>
    <form action="Login" method="get">
        <h2 style="text-align:center">
            <%= message %>
        </h2>
        <button>Login</button>
    </form>

</body>

</html>