<html>

<head>

</head>

<body>
    <form action="/Login" method="post">
        <input type="text" name="username" placeholder="Saisir votre username" /><br/>
        <input type="password" name="password" placeholder="Saisir votre password" /><br/>
        <button type="submit">Login</button>
    </form>
</body>

</html>